.products-container {
  display: flex;
  margin-bottom: 50px;
}

.product {
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  transition: transform .2s;
  border: 1px solid transparent;
}

.product:hover .product-like-status {
  transform: scale(1.1);
  z-index: 1;
}

.product-image {
  height: 370px;
  width: 370px;
}

.product-likes {
  margin: 0;
  font-size: 70px;
}

.product-like-status {
  transition: color 1s, transform .3s;
}

.product-likes .not-liked {
  color: #FFA030;
}

.product-likes .liked {
  color: #FF6773;
  text-shadow: 0 1px 5px red;
}

html {
  display: none;
}

@media (min-width: 900px) {
  .products-container {
    display: inline-flex;
  }

  .product {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
