<div *ngFor="#p of productList;" class="products-container">
  <div class="product" (click)="p.addLikes()" [ngClass]="{'product-liked': p.liked}">
    <div class="product-image-container">
      <img src="{{p.image}}" class="product-image"/>
    </div>

    <div class="product-image-likes">
      <p class="product-likes">
        <span class="fa fa-fw product-like-status"
              [ngClass]="{'not-liked': !p.liked,
                          'fa-heart-o': !p.liked,
                          'liked': p.liked,
                          'fa-heart': p.liked}"></span>
      </p>
    </div>
  </div>
</div>
