.modal {
  position: absolute;
  z-index: 4;
  background-color: transparent;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.modal-container {
  position: relative;
  margin: 0 auto;
}

.modal .img {
  width: 500px;
  height: 500px;
}

.modal .close {
  position: absolute;
  color: #fff;
  font-size: 65px;
  top: 0;
  right: 0;
  z-index: 5;
}

.modal .close:hover {
  cursor: pointer;
}

.modal .modal-info {
  margin-top: 0;
  background-color: transparent;
  padding: 10px 0 5px;
  color: #fff;
}

.modal .icone {
  font-size: 105px;
  margin: 15px 0 15px;
  cursor: pointer;
  transition: transform .5s ease, color .5s ease;
}

.modal .icone:hover {
  transform: scale(1.1);
}

.modal .icone-liked {
  color: #FF6773;
  text-shadow: 0 1px 5px red;
}

.product-name {
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (min-width: 900px) {
  .modal {
    position: fixed;
    padding-top: 10px;
  }

  .modal .img {
    width: auto;
  }
}
