header {
  text-align: center;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 70px;
}

header h1 {
  display: inline-block;
  margin: 10px;
  color: #000;
  text-align: center;
  font-size: 40px;
  padding: 15px 27px;
  border-radius: 100%;
  border: 3px solid #000;
  transition: border .3s ease,
              margin-top 1s ease,
              margin-bottom 1s ease;
}

header.top {
  padding-top: 0;
  padding-bottom: 0;
  position: fixed;
  width: 100%;
  max-width: 1200px;
  z-index: 3;
  box-shadow: 0 -1px 0 #e5e5e5,
              0 0 2px rgba(0,0,0,.12),
              0 2px 4px rgba(0,0,0,.24);
}

header.top h1 {
  font-size: 20px;
  display: inline-block;
  padding: 10px 16px;
  border: 3px solid #000;
  border-radius: 100%;
  transition: border .5s ease;
}

@media (min-width: 900px) {
  header h1 {
    font-size: 99px;
    padding: 15px 45px;
    border: 10px solid #000;
  }
}
